<div class="contentBody">
    <div>
      Here will detail information about the app currently, how it works and future plans!
    </div>
    <section>
      <h2>Third Party Apps</h2>
      <div>
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </section>

    <section>
      <h2>App Links</h2>
      <div>
        GitHub <a href="https://github.com/seanr89/BibsClient" title="BibsClient">BibsClient</a>
      </div>
    </section>

    <section>
      <h2>Me</h2>
      <div>
        LinkedIn <a href="https://github.com/seanr89/BibsClient" title="LinkedIn">LinkedIn</a>
        <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Freepik - Flaticon</a>
      </div>
    </section>
  
  </div>
  