.scrollable {
    //height: 50%; /* or any value */
    overflow-y: auto;
    min-height: 26em;
}

.team-list-section {
    // display: inline-block;
    vertical-align: top;
    border: solid 1px white;
    //height: 15em;
}

// Find out what this is used for!
.custom-list-item
{
    height: 100%;
}

.player-card {
    height: inherit;
    padding: 0;
    width: -webkit-fill-available;
}

.mat-list-item {
    padding: 0.1em;
    height: 100%;
    width: max-content;
}
