
<!-- <h3>Feedback Form</h3> -->

<div class="formCentre">
    <form
        [formGroup]="feedbackFormGroup"
        autocomplete="off"
        novalidate
        class="form"
        (ngSubmit)="onSubmit(feedbackFormGroup.value)"
    >
        <mat-form-field class="inputFullWidth">
            <input
                matInput
                placeholder="Enter Data"
                name="response"
                formControlName="response"
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Feedback Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let opt of options" [value]="opt">
                {{opt}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br />
        <hr />
        <button
            mat-raised-button
            color="primary"
            [disabled]="!feedbackFormGroup.valid"
            style="margin-right: 10px"
        >
            Submit
        </button>
        <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="onClear()"
        >
            Clear
        </button>
    </form>
</div>