<div>
    <section fxFlex="100%" fxLayoutAlign="center" class="scrollable">
        <div class="team-list-section">
            <div *ngIf="!playersAvailable">
                <h2>Players Not Yet Available</h2>
            </div>
            <mat-list>
                <mat-list-item
                    mat-list-item
                    *ngFor="let player of players"
                >
                    <app-player-list-item [player]="player"></app-player-list-item>
                </mat-list-item>
            </mat-list>
        </div>
    </section>
    <br />
</div>