<div>
    <section class="team-list-section">
        <div>
            <!-- <div *ngIf="!playersAvailable">
                <h2>Players Not Yet Available</h2>
            </div> -->
            <mat-list *ngIf="players.length > 0">
                <mat-list-item
                    class="custom-item"
                    mat-list-item
                    *ngFor="let player of players"
                >
                    <app-player-list-item [player]="player"></app-player-list-item>
                </mat-list-item>
            </mat-list>
        </div>
    </section>
</div>