.scrollable {
    //height: 50%; /* or any value */
    overflow-y: auto;
    min-height: 26em;
}

.team-list-section {
    // display: inline-block;
    vertical-align: top;
    border: solid 1px white;
    height: 15em;
    padding: 0 0.5em 0 0.5em;
}

.custom-item
{
    margin: 1.5em
}

.example-header-image {
    background-image: url('../../../assets//images/001-soccer.svg');
    background-size: cover;
    margin: 1px;
}

.player-card {
    height: inherit;
    padding: 0;
    width: -webkit-fill-available;
}

.mat-card-header {
    padding: 3px;
}

.mat-list-item {
    padding: 2px;
}
