.title-header-image {
    background-image: url('../../../../assets/images/001-soccer.svg');
    background-size: cover;
}

.player-card {
    height: inherit;
    // padding: 0.1em;
    width: -webkit-fill-available;
}

.mat-card-header {
    padding: 3px;
}

.mat-list-item {
    padding: 2px;
}
