<mat-card class="player-card">
    <mat-card-header>
      <div mat-card-avatar class="title-header-image"></div>
      <mat-card-title>{{ player?.name }}</mat-card-title>
      <!-- <mat-card-subtitle>Rating: {{ player?.rating }}</mat-card-subtitle> -->
    </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button
          color="primary"
          (click)="onEditButtonClick()">Edit</button>
        <!-- <button mat-raised-button
          color="warn" 
          (click)="onRemoveButtonClick()">Remove</button> -->
      </mat-card-actions>
  </mat-card>
  