

<div class="bodyBackground"></div>
<div class="contentBody">
  <section class="bg-text">
    <h1>The Bib Leagues</h1>
    <hr />
    <p>
      Welcome to the Bib Leagues, an App to take the hassle out of the picking 5-A-Side football teams
    </p>
    <a routerLink="/generators/basic"
      ><button mat-raised-button color="primary">Basic Generator</button></a
    >
  </section>

  <br/>

  <section class="bg-text-2nd">
    <h1>Feedback</h1>
    <hr />
    <p>
      Provide details here if you have any comments on issues or features
    </p>
    <a routerLink="/feedback"
      ><button mat-raised-button color="primary">Feedback</button></a
    >
  </section>
</div>