.inputFullWidth {
    width: 100%;
    //padding: 0.25em;
}

.formCentre {
    margin: auto;
    width: 50%;
    padding-top: 0.1em;
    //padding: 15px;
}

.player-list {
    height: 50vh;
    overflow: auto; /* Show scrollbars */
}

.player-mat-list-item{
    margin: 1em;
    padding-bottom: 1em;
}